In [331]:
import pandas as pd
import numpy as np
import sympy
from sympy.solvers.inequalities import reduce_rational_inequalities,reduce_inequalities
from itertools import chain
from collections import defaultdict
from IPython.display import display

from sympy.parsing.sympy_parser import parse_expr
from sympy.parsing.sympy_parser import standard_transformations
from sympy.printing.mathml import print_mathml
import math
from IPython.display import display, Markdown, Latex
import os

import seaborn as sns
import matplotlib.pyplot as plt

def make_symbols_positive(sym):
    return sympy.symbols("{}".format(sym),positive =True)

def make_symbols_function(sym):
    return sympy.symbols("{}".format(sym),cl)

def subs_function(target,list_):
    return sympy.simplify(target.subs(list_))

def root_cal(value):
    return value**(1/2)

In [332]:
class color:
   PURPLE = '\033[95m'
   CYAN = '\033[96m'
   DARKCYAN = '\033[36m'
   BLUE = '\033[94m'
   GREEN = '\033[92m'
   YELLOW = '\033[93m'
   RED = '\033[91m'
   BOLD = '\033[1m'
   UNDERLINE = '\033[4m'
   END = '\033[0m'

print(color.BOLD + 'Hello World !' + color.END)

Hello World !

# w_range

In [333]:
def sol_w_same(df_1,target_):
    w_sol = sympy.solve([df_1["QD"][target_]-df_1["FB"][target_]],w)
    return w_sol

In [334]:
def sol_w_other(df_1,equa):
    w_sol = sympy.solve(equa,w)
    return w_sol

In [335]:
def display_solve(df_1,w_sol):
    for row,col in df_1.iterrows():
        print(row)
        try:
            display(col["QD"].subs([(w,w_sol)]).factor())
        except:
            print()
        print()

In [336]:
def display_solve2(df_1,w_sol):
    for row,col in df_1.iterrows():
        print(row)
        try:
            display(col["QD"].subs([(w,w_sol)]).simplify())
        except:
            print()
        print()

In [337]:
def display_w_insert(df_,w_1):
    order_ = ["w","epsilon","t","p","q_nd","q_t","q","profit_r","profit_s","profit_all","h1_r_p","h1_s_w","h1_s_e"]
    if w_1 == "WH":
        for ord_ in order_:
            try:
                value_ = df_[1][ord_].factor()
                value_2 = df_[1][ord_].simplify()
                print(color.RED + ord_ + color.END)
                display("factor: ",value_)
                display("simplify: ",value_2)
                print("-"*40)
            except:
                print(color.RED + ord_ + color.END)
                print("-"*40)
    else:
        for ord_ in order_:
            try:
                value_ = df_[1][ord_].subs([(w,w_1)]).factor()
                value_2 = df_[1][ord_].subs([(w,w_1)]).simplify()
                print(color.RED + ord_ + color.END)
                display("factor: ",value_)
                display("simplify: ",value_2)
                print("-"*40)
            except:
                print(color.RED + ord_ + color.END)
                print("-"*40)

In [338]:
Path_ = r"C:\Users\Samsung\jupyter\Graduation_thesis\result\version_un_4"

In [339]:
file_list = os.listdir(Path_)
file_list_xlsx = [f for f in file_list if f.endswith(".xlsx")]
#file_FB = [f for f in file_list_xlsx if f.contains("FB")]
#file_WH = [f for f in file_list_xlsx if f.contains("WH")]
#file_QD = [f for f in file_list_xlsx if f.contains("QD")]

In [340]:
file_name = [li.replace(".xlsx","") for li in file_list_xlsx]
file_name

['ND_FB',
 'ND_QD',
 'ND_WH',
 'UN_BD_QD',
 'UN_BD_WH',
 'UN_BS_QD',
 'UN_BS_WH',
 'UN_DD_QD',
 'UN_DD_WH',
 'UN_SD_QD',
 'UN_SD_WH']

In [341]:
for fn in file_name:
    path_ = Path_ + "\\{}.xlsx"
    globals() ["{}".format(fn)] = pd.read_excel(path_.format(fn),index_col=0,header=None)
    try:
        globals() ["{}".format(fn)] = globals() ["{}".format(fn)]#.rename(index={"profit_all":"pro_all"})
    except:
        pass

In [342]:
p,w,c,s,alpha,beta,delta_d,delta_s,epsilon,psi = make_symbols_positive("p,w,c,s,alpha,beta,delta_d,delta_s,epsilon,psi")

In [343]:
parse_dic = {"p":p,"w":w,"c":c,"s":s
             ,"alpha":alpha,"beta":beta
             ,"delta_d":delta_d,"delta_s":delta_s,"epsilon":epsilon }

In [344]:
for fn in file_name:
    globals() ["{}".format(fn)][1] = globals() ["{}".format(fn)][1].map(lambda x: parse_expr(x.replace("^","**").replace("lambda","lambda_"),parse_dic))

# Un cases

In [345]:
solve_ws = sympy.solve((ND_QD[1]["profit_s"]-ND_WH[1]["profit_s"]).factor(),w)
w_w = solve_ws[1]
w_w

(-alpha + 2*beta*c + sqrt(2)*(alpha - beta*c))/beta

In [346]:
solve_w = sympy.solve((ND_QD[1]["profit_all"]-ND_FB[1]["profit_all"]).factor(),w)
w_c = solve_w[0]
w_c

alpha/beta

In [347]:

tar_wh = ND_WH.copy()
tar_qd = ND_QD.copy()

ND_QDW = pd.DataFrame(tar_qd[1].map(lambda x : x.subs([(w,w_w)]).factor())) 
ND_QDC = pd.DataFrame(tar_qd[1].map(lambda x : x.subs([(w,w_c)]).factor()))

In [348]:
time_ = "UN"
dis_ = "DD"


tar_wh = globals() ["{}_{}_WH".format(time_,dis_)]
tar_qd = globals() ["{}_{}_QD".format(time_,dis_)]

globals() ["{}_{}_QD{}".format(time_,dis_,"W")] = pd.DataFrame(tar_qd[1].map(lambda x : x.subs([(w,w_w)]).factor()))  
globals() ["{}_{}_QD{}".format(time_,dis_,"C")] = pd.DataFrame(tar_qd[1].map(lambda x : x.subs([(w,w_c)]).factor()))  
time_ = "UN"
diss_ = ["DD","SD","BD","BS"]

for dis_ in diss_:
    tar_wh = globals() ["{}_{}_WH".format(time_,dis_)]
    tar_qd = globals() ["{}_{}_QD".format(time_,dis_)]
    globals() ["{}_{}_QD{}".format(time_,dis_,"W")] = pd.DataFrame(tar_qd[1].map(lambda x : x.subs([(w,w_w)]).factor()))  
    globals() ["{}_{}_QD{}".format(time_,dis_,"C")] = pd.DataFrame(tar_qd[1].map(lambda x : x.subs([(w,w_c)]).factor()))

In [349]:
time_ = "UN"
dis_ = "SD"


tar_wh = globals() ["{}_{}_WH".format(time_,dis_)]
tar_qd = globals() ["{}_{}_QD".format(time_,dis_)]

globals() ["{}_{}_QD{}".format(time_,dis_,"W")] = pd.DataFrame(tar_qd[1].map(lambda x : x.subs([(w,w_w)]).factor()))  
globals() ["{}_{}_QD{}".format(time_,dis_,"C")] = pd.DataFrame(tar_qd[1].map(lambda x : x.subs([(w,w_c)]).factor()))  
time_ = "UN"
diss_ = ["DD","SD","BD","BS"]

for dis_ in diss_:
    tar_wh = globals() ["{}_{}_WH".format(time_,dis_)]
    tar_qd = globals() ["{}_{}_QD".format(time_,dis_)]
    globals() ["{}_{}_QD{}".format(time_,dis_,"W")] = pd.DataFrame(tar_qd[1].map(lambda x : x.subs([(w,w_w)]).factor()))  
    globals() ["{}_{}_QD{}".format(time_,dis_,"C")] = pd.DataFrame(tar_qd[1].map(lambda x : x.subs([(w,w_c)]).factor()))

In [350]:
time_ = "UN"
dis_ = "BD"


tar_wh = globals() ["{}_{}_WH".format(time_,dis_)]
tar_qd = globals() ["{}_{}_QD".format(time_,dis_)]

globals() ["{}_{}_QD{}".format(time_,dis_,"W")] = pd.DataFrame(tar_qd[1].map(lambda x : x.subs([(w,w_w)]).factor()))  
globals() ["{}_{}_QD{}".format(time_,dis_,"C")] = pd.DataFrame(tar_qd[1].map(lambda x : x.subs([(w,w_c)]).factor()))  
time_ = "UN"
diss_ = ["DD","SD","BD","BS"]

for dis_ in diss_:
    tar_wh = globals() ["{}_{}_WH".format(time_,dis_)]
    tar_qd = globals() ["{}_{}_QD".format(time_,dis_)]
    globals() ["{}_{}_QD{}".format(time_,dis_,"W")] = pd.DataFrame(tar_qd[1].map(lambda x : x.subs([(w,w_w)]).factor()))  
    globals() ["{}_{}_QD{}".format(time_,dis_,"C")] = pd.DataFrame(tar_qd[1].map(lambda x : x.subs([(w,w_c)]).factor()))

In [351]:
time_ = "UN"
dis_ = "BS"


tar_wh = globals() ["{}_{}_WH".format(time_,dis_)]
tar_qd = globals() ["{}_{}_QD".format(time_,dis_)]

globals() ["{}_{}_QD{}".format(time_,dis_,"W")] = pd.DataFrame(tar_qd[1].map(lambda x : x.subs([(w,w_w)]).factor()))  
globals() ["{}_{}_QD{}".format(time_,dis_,"C")] = pd.DataFrame(tar_qd[1].map(lambda x : x.subs([(w,w_c)]).factor()))  
time_ = "UN"
diss_ = ["DD","SD","BD","BS"]

for dis_ in diss_:
    tar_wh = globals() ["{}_{}_WH".format(time_,dis_)]
    tar_qd = globals() ["{}_{}_QD".format(time_,dis_)]
    globals() ["{}_{}_QD{}".format(time_,dis_,"W")] = pd.DataFrame(tar_qd[1].map(lambda x : x.subs([(w,w_w)]).factor()))  
    globals() ["{}_{}_QD{}".format(time_,dis_,"C")] = pd.DataFrame(tar_qd[1].map(lambda x : x.subs([(w,w_c)]).factor()))

In [353]:
def hessian_(df_,para_):
    try:
        try:
            a_ = float(df_[1]["h1_r_p"].subs(para_))
            b_ = float(df_[1]["h1_s_w"].subs(para_))
            if a_ and b_ <= 0:
                pass
            else:
                return "STOP",(a_,b_)
        except:
            a_ = float(df_[1]["h1_r_p"].subs(para_))
            b_ = float(df_[1]["h1_s_w"].subs(para_))
            c_ = float(df_[1]["h1_s_e"].subs(para_))
            if a_ and b_ and c_ <= 0:
                pass
            else:
                return "STOP",(a_,b_,c_)
    except:
        pass

In [354]:
def subs_lambda(y,params):
    try:
        out_ = y.subs(params)
        try:
            out_ = round(float(out_),3)
        except:
            pass
    except:
        out_ = 0
    return out_

In [355]:
def apply_num(df,para_list):
    return df.apply(lambda x : x.map(lambda y: subs_lambda(y,para_list)))

In [356]:
file_name_2 = ['ND_FB',
 'ND_QDC',
 'ND_QDW',
 'ND_WH',
 'UN_BD_QDC',
 'UN_BD_QDW',
 'UN_BD_WH',
 'UN_BS_QDC',
 'UN_BS_QDW',
 'UN_BS_WH',
 'UN_DD_QDC',
 'UN_DD_QDW',
 'UN_DD_WH',
 'UN_SD_QDC',
 'UN_SD_QDW',
 'UN_SD_WH']

In [331]:
import pandas as pd
import numpy as np
import sympy
from sympy.solvers.inequalities import reduce_rational_inequalities,reduce_inequalities
from itertools import chain
from collections import defaultdict
from IPython.display import display

from sympy.parsing.sympy_parser import parse_expr
from sympy.parsing.sympy_parser import standard_transformations
from sympy.printing.mathml import print_mathml
import math
from IPython.display import display, Markdown, Latex
import os

import seaborn as sns
import matplotlib.pyplot as plt

def make_symbols_positive(sym):
    return sympy.symbols("{}".format(sym),positive =True)

def make_symbols_function(sym):
    return sympy.symbols("{}".format(sym),cl)

def subs_function(target,list_):
    return sympy.simplify(target.subs(list_))

def root_cal(value):
    return value**(1/2)

In [332]:
class color:
   PURPLE = '\033[95m'
   CYAN = '\033[96m'
   DARKCYAN = '\033[36m'
   BLUE = '\033[94m'
   GREEN = '\033[92m'
   YELLOW = '\033[93m'
   RED = '\033[91m'
   BOLD = '\033[1m'
   UNDERLINE = '\033[4m'
   END = '\033[0m'

print(color.BOLD + 'Hello World !' + color.END)

Hello World !

# w_range

In [333]:
def sol_w_same(df_1,target_):
    w_sol = sympy.solve([df_1["QD"][target_]-df_1["FB"][target_]],w)
    return w_sol

In [334]:
def sol_w_other(df_1,equa):
    w_sol = sympy.solve(equa,w)
    return w_sol

In [335]:
def display_solve(df_1,w_sol):
    for row,col in df_1.iterrows():
        print(row)
        try:
            display(col["QD"].subs([(w,w_sol)]).factor())
        except:
            print()
        print()

In [336]:
def display_solve2(df_1,w_sol):
    for row,col in df_1.iterrows():
        print(row)
        try:
            display(col["QD"].subs([(w,w_sol)]).simplify())
        except:
            print()
        print()

In [337]:
def display_w_insert(df_,w_1):
    order_ = ["w","epsilon","t","p","q_nd","q_t","q","profit_r","profit_s","profit_all","h1_r_p","h1_s_w","h1_s_e"]
    if w_1 == "WH":
        for ord_ in order_:
            try:
                value_ = df_[1][ord_].factor()
                value_2 = df_[1][ord_].simplify()
                print(color.RED + ord_ + color.END)
                display("factor: ",value_)
                display("simplify: ",value_2)
                print("-"*40)
            except:
                print(color.RED + ord_ + color.END)
                print("-"*40)
    else:
        for ord_ in order_:
            try:
                value_ = df_[1][ord_].subs([(w,w_1)]).factor()
                value_2 = df_[1][ord_].subs([(w,w_1)]).simplify()
                print(color.RED + ord_ + color.END)
                display("factor: ",value_)
                display("simplify: ",value_2)
                print("-"*40)
            except:
                print(color.RED + ord_ + color.END)
                print("-"*40)

In [338]:
Path_ = r"C:\Users\Samsung\jupyter\Graduation_thesis\result\version_un_4"

In [339]:
file_list = os.listdir(Path_)
file_list_xlsx = [f for f in file_list if f.endswith(".xlsx")]
#file_FB = [f for f in file_list_xlsx if f.contains("FB")]
#file_WH = [f for f in file_list_xlsx if f.contains("WH")]
#file_QD = [f for f in file_list_xlsx if f.contains("QD")]

In [340]:
file_name = [li.replace(".xlsx","") for li in file_list_xlsx]
file_name

['ND_FB',
 'ND_QD',
 'ND_WH',
 'UN_BD_QD',
 'UN_BD_WH',
 'UN_BS_QD',
 'UN_BS_WH',
 'UN_DD_QD',
 'UN_DD_WH',
 'UN_SD_QD',
 'UN_SD_WH']

In [341]:
for fn in file_name:
    path_ = Path_ + "\\{}.xlsx"
    globals() ["{}".format(fn)] = pd.read_excel(path_.format(fn),index_col=0,header=None)
    try:
        globals() ["{}".format(fn)] = globals() ["{}".format(fn)]#.rename(index={"profit_all":"pro_all"})
    except:
        pass

In [342]:
p,w,c,s,alpha,beta,delta_d,delta_s,epsilon,psi = make_symbols_positive("p,w,c,s,alpha,beta,delta_d,delta_s,epsilon,psi")

In [343]:
parse_dic = {"p":p,"w":w,"c":c,"s":s
             ,"alpha":alpha,"beta":beta
             ,"delta_d":delta_d,"delta_s":delta_s,"epsilon":epsilon }

In [344]:
for fn in file_name:
    globals() ["{}".format(fn)][1] = globals() ["{}".format(fn)][1].map(lambda x: parse_expr(x.replace("^","**").replace("lambda","lambda_"),parse_dic))

# Un cases

In [345]:
solve_ws = sympy.solve((ND_QD[1]["profit_s"]-ND_WH[1]["profit_s"]).factor(),w)
w_w = solve_ws[1]
w_w

(-alpha + 2*beta*c + sqrt(2)*(alpha - beta*c))/beta

In [346]:
solve_w = sympy.solve((ND_QD[1]["profit_all"]-ND_FB[1]["profit_all"]).factor(),w)
w_c = solve_w[0]
w_c

alpha/beta

In [347]:

tar_wh = ND_WH.copy()
tar_qd = ND_QD.copy()

ND_QDW = pd.DataFrame(tar_qd[1].map(lambda x : x.subs([(w,w_w)]).factor())) 
ND_QDC = pd.DataFrame(tar_qd[1].map(lambda x : x.subs([(w,w_c)]).factor()))

In [348]:
time_ = "UN"
dis_ = "DD"


tar_wh = globals() ["{}_{}_WH".format(time_,dis_)]
tar_qd = globals() ["{}_{}_QD".format(time_,dis_)]

globals() ["{}_{}_QD{}".format(time_,dis_,"W")] = pd.DataFrame(tar_qd[1].map(lambda x : x.subs([(w,w_w)]).factor()))  
globals() ["{}_{}_QD{}".format(time_,dis_,"C")] = pd.DataFrame(tar_qd[1].map(lambda x : x.subs([(w,w_c)]).factor()))  
time_ = "UN"
diss_ = ["DD","SD","BD","BS"]

for dis_ in diss_:
    tar_wh = globals() ["{}_{}_WH".format(time_,dis_)]
    tar_qd = globals() ["{}_{}_QD".format(time_,dis_)]
    globals() ["{}_{}_QD{}".format(time_,dis_,"W")] = pd.DataFrame(tar_qd[1].map(lambda x : x.subs([(w,w_w)]).factor()))  
    globals() ["{}_{}_QD{}".format(time_,dis_,"C")] = pd.DataFrame(tar_qd[1].map(lambda x : x.subs([(w,w_c)]).factor()))

In [349]:
time_ = "UN"
dis_ = "SD"


tar_wh = globals() ["{}_{}_WH".format(time_,dis_)]
tar_qd = globals() ["{}_{}_QD".format(time_,dis_)]

globals() ["{}_{}_QD{}".format(time_,dis_,"W")] = pd.DataFrame(tar_qd[1].map(lambda x : x.subs([(w,w_w)]).factor()))  
globals() ["{}_{}_QD{}".format(time_,dis_,"C")] = pd.DataFrame(tar_qd[1].map(lambda x : x.subs([(w,w_c)]).factor()))  
time_ = "UN"
diss_ = ["DD","SD","BD","BS"]

for dis_ in diss_:
    tar_wh = globals() ["{}_{}_WH".format(time_,dis_)]
    tar_qd = globals() ["{}_{}_QD".format(time_,dis_)]
    globals() ["{}_{}_QD{}".format(time_,dis_,"W")] = pd.DataFrame(tar_qd[1].map(lambda x : x.subs([(w,w_w)]).factor()))  
    globals() ["{}_{}_QD{}".format(time_,dis_,"C")] = pd.DataFrame(tar_qd[1].map(lambda x : x.subs([(w,w_c)]).factor()))

In [350]:
time_ = "UN"
dis_ = "BD"


tar_wh = globals() ["{}_{}_WH".format(time_,dis_)]
tar_qd = globals() ["{}_{}_QD".format(time_,dis_)]

globals() ["{}_{}_QD{}".format(time_,dis_,"W")] = pd.DataFrame(tar_qd[1].map(lambda x : x.subs([(w,w_w)]).factor()))  
globals() ["{}_{}_QD{}".format(time_,dis_,"C")] = pd.DataFrame(tar_qd[1].map(lambda x : x.subs([(w,w_c)]).factor()))  
time_ = "UN"
diss_ = ["DD","SD","BD","BS"]

for dis_ in diss_:
    tar_wh = globals() ["{}_{}_WH".format(time_,dis_)]
    tar_qd = globals() ["{}_{}_QD".format(time_,dis_)]
    globals() ["{}_{}_QD{}".format(time_,dis_,"W")] = pd.DataFrame(tar_qd[1].map(lambda x : x.subs([(w,w_w)]).factor()))  
    globals() ["{}_{}_QD{}".format(time_,dis_,"C")] = pd.DataFrame(tar_qd[1].map(lambda x : x.subs([(w,w_c)]).factor()))

In [351]:
time_ = "UN"
dis_ = "BS"


tar_wh = globals() ["{}_{}_WH".format(time_,dis_)]
tar_qd = globals() ["{}_{}_QD".format(time_,dis_)]

globals() ["{}_{}_QD{}".format(time_,dis_,"W")] = pd.DataFrame(tar_qd[1].map(lambda x : x.subs([(w,w_w)]).factor()))  
globals() ["{}_{}_QD{}".format(time_,dis_,"C")] = pd.DataFrame(tar_qd[1].map(lambda x : x.subs([(w,w_c)]).factor()))  
time_ = "UN"
diss_ = ["DD","SD","BD","BS"]

for dis_ in diss_:
    tar_wh = globals() ["{}_{}_WH".format(time_,dis_)]
    tar_qd = globals() ["{}_{}_QD".format(time_,dis_)]
    globals() ["{}_{}_QD{}".format(time_,dis_,"W")] = pd.DataFrame(tar_qd[1].map(lambda x : x.subs([(w,w_w)]).factor()))  
    globals() ["{}_{}_QD{}".format(time_,dis_,"C")] = pd.DataFrame(tar_qd[1].map(lambda x : x.subs([(w,w_c)]).factor()))

In [353]:
def hessian_(df_,para_):
    try:
        try:
            a_ = float(df_[1]["h1_r_p"].subs(para_))
            b_ = float(df_[1]["h1_s_w"].subs(para_))
            if a_ and b_ <= 0:
                pass
            else:
                return "STOP",(a_,b_)
        except:
            a_ = float(df_[1]["h1_r_p"].subs(para_))
            b_ = float(df_[1]["h1_s_w"].subs(para_))
            c_ = float(df_[1]["h1_s_e"].subs(para_))
            if a_ and b_ and c_ <= 0:
                pass
            else:
                return "STOP",(a_,b_,c_)
    except:
        pass

In [354]:
def subs_lambda(y,params):
    try:
        out_ = y.subs(params)
        try:
            out_ = round(float(out_),3)
        except:
            pass
    except:
        out_ = 0
    return out_

In [355]:
def apply_num(df,para_list):
    return df.apply(lambda x : x.map(lambda y: subs_lambda(y,para_list)))

In [356]:
file_name_2 = ['ND_FB',
 'ND_QDC',
 'ND_QDW',
 'ND_WH',
 'UN_BD_QDC',
 'UN_BD_QDW',
 'UN_BD_WH',
 'UN_BS_QDC',
 'UN_BS_QDW',
 'UN_BS_WH',
 'UN_DD_QDC',
 'UN_DD_QDW',
 'UN_DD_WH',
 'UN_SD_QDC',
 'UN_SD_QDW',
 'UN_SD_WH']

In [358]:
para_ = [(alpha,1200),(beta,7),(c,50),(delta_d,n_d),(delta_s,n_s),(s,100)]
n_d= 0.4
n_s= 0.3

In [359]:
for file_ in file_name_2:
    df_test = globals ()["{}".format(file_)]
    print(hessian_(df_test,para_))

None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None

In [360]:
para_ = [(alpha,1200),(beta,7),(c,50),(delta_d,n_d),(delta_s,n_s),(s,100)]
n_d= 0.3
n_s= 0.4

In [361]:
for file_ in file_name_2:
    df_test = globals ()["{}".format(file_)]
    print(hessian_(df_test,para_))

None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None

In [406]:
s_ = 100
spot_premium = 1.1


df_all = []
for file_ in file_name_2:
    df_1 =  globals ()["{}".format(file_)].rename(columns={1:file_})
    if "DD" in file_:
        n_d = 0.4
        n_s = 0
        para_ = [(alpha,1200),(beta,7),(c,50),(delta_d,n_d),(delta_s,n_s),(s,s_)]

        First_num = apply_num(df_1,para_)
        First_num.loc[len(First_num)] = [s_]
        
    elif "SD" in file_:
        n_d = 0
        n_s = 0.4
        para_ = [(alpha,1200),(beta,7),(c,50),(delta_d,n_d),(delta_s,n_s),(s,s_)]
        price_ = float(df_1[file_]["p"].subs(para_))
        s_1 = price_*spot_premium
        para_ = [(alpha,1200),(beta,7),(c,50),(delta_d,n_d),(delta_s,n_s),(s,s_1)]
        print(hessian_(df_1,para_))
        First_num = apply_num(df_1,para_)
        First_num.loc[len(First_num)] = [s_1]
    elif "BD" in file_:
        #print(file_)
        n_d = 0.4
        n_s = 0.3
        para_ = [(alpha,1200),(beta,7),(c,50),(delta_d,n_d),(delta_s,n_s),(s,s_)]

        First_num = apply_num(df_1,para_)
        First_num.loc[len(First_num)] = [s_]
    elif "BS" in file_:
        #print(file_)
        n_d = 0.3
        n_s = 0.4
        para_ = [(alpha,1200),(beta,7),(c,50),(delta_d,n_d),(delta_s,n_s),(s,s_)]
        price_ = float(df_1[file_]["p"].subs(para_))
        s_1 = price_*spot_premium
        para_ = [(alpha,1200),(beta,7),(c,50),(delta_d,n_d),(delta_s,n_s),(s,s_1)]
        
        
        First_num = apply_num(df_1,para_)
        First_num.loc[len(First_num)] = [s_1]
    else:

        n_d = 0
        n_s = 0    
        para_ = [(alpha,1200),(beta,7),(c,50),(delta_d,n_d),(delta_s,n_s),(s,s_)] 
        
        First_num = apply_num(df_1,para_)
    df_all.append(First_num)

None
None
None

In [407]:
df_con = pd.DataFrame()
for df_2 in df_all:
    df_con = pd.concat([df_con,df_2],axis=1)

In [408]:
df_con

,ND_FB,ND_QDC,ND_QDW,ND_WH,UN_BD_QDC,UN_BD_QDW,UN_BD_WH,UN_BS_QDC,UN_BS_QDW,UN_BS_WH,UN_DD_QDC,UN_DD_QDW,UN_DD_WH,UN_SD_QDC,UN_SD_QDW,UN_SD_WH
p,110.714,110.714,128.497,141.071,110.714,128.497,141.071,110.714,1.284970e+02,141.071000,110.714,128.497,141.071,110.714,1.284970e+02,141.071000
q,425.000,425,300.52,212.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
profit_all,25803.571,25803.6,23590,19352.7,9107.14,9646.179,8424.107,15011.6,1.376783e+04,11311.830000,-10017.9,-3877.238,-1138.393,13600,1.260934e+04,10412.500000
h1_all_p,-14.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
w,NaN,171.429,100.297,110.714,171.429,100.297,110.714,171.429,1.002970e+02,110.714000,171.429,100.297,110.714,171.429,1.002970e+02,110.714000
epsilon,NaN,0.143,0.025,NaN,0.143,0.025,NaN,0.143,2.500000e-02,NaN,0.143,0.025,NaN,0.143,2.500000e-02,NaN
p_w,NaN,171.429,(16800*epsilon - 850*sqrt(2) - 700)/(14*(7*eps...,w/2 + 600/7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
T,NaN,110.714,92.931,110.714,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
profit_r,NaN,0,10688.2,6450.89,-8955.36,614.929,-607.143,-470.536,6.026754e+03,3570.759000,-35821.4,-16779.024,-14040.179,-1882.14,4.868274e+03,2671.429000
profit_s,NaN,25803.6,12901.8,12901.8,18062.5,9031.250,9031.250,15482.1,7.741071e+03,7741.071000,25803.6,12901.786,12901.786,15482.1,7.741071e+03,7741.071000
h1_r_p,NaN,0,-11.598,-14,0,-11.598,-14.000,0,-1.159800e+01,-14.000000,0,-11.598,-14.000,0,-1.159800e+01,-14.000000
h1_s_w,NaN,zoo,-9.325,-7,zoo,-9.325,-7.000,zoo,-9.325000e+00,-7.000000,zoo,-9.325,-7.000,zoo,-9.325000e+00,-7.000000
h1_s_e,NaN,zoo,-1.84233e+06,NaN,zoo,-1842329.386,NaN,zoo,-1.842329e+06,NaN,zoo,-1842329.386,NaN,zoo,-1.842329e+06,NaN
h2_s,NaN,zoo,-1.61204e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
q_nd,NaN,NaN,NaN,NaN,425,300.520,212.500,425,3.005200e+02,212.500000,425,300.520,212.500,425,3.005200e+02,212.500000
qd,NaN,NaN,NaN,NaN,255,180.312,127.500,297.5,2.103640e+02,148.750000,255,180.312,127.500,425,3.005200e+02,212.500000
qs,NaN,NaN,NaN,NaN,297.5,210.364,148.750,255,1.803120e+02,127.500000,425,300.520,212.500,255,1.803120e+02,127.500000
t_nd,NaN,NaN,NaN,NaN,110.714,92.931,110.714,110.714,9.293100e+01,110.714000,110.714,92.931,110.714,110.714,9.293100e+01,110.714000
13,NaN,NaN,NaN,NaN,100,100.000,NaN,121.786,1.413468e+02,NaN,100,100.000,NaN,121.786,1.413468e+02,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,100.000,NaN,NaN,155.178571,NaN,NaN,100.000,NaN,NaN,155.178571

In [409]:
df_con.to_excel(r"C:\Users\Samsung\jupyter\Graduation_thesis\result\graph_\un_scrap_3.xlsx")

In [410]:
s_ = 100
spot_premium = 1.1
scrap_cost = 1.2

df_all = []
for file_ in file_name_2:
    df_1 =  globals ()["{}".format(file_)].rename(columns={1:file_})
    if "DD" in file_:
        n_d = 0.4
        n_s = 0
        para_ = [(alpha,1200),(beta,7),(c,50),(delta_d,n_d),(delta_s,n_s),(s,s_)]
        price_ = float(df_1[file_]["p"].subs(para_))
        s_1 = price_*scrap_cost
        para_ = [(alpha,1200),(beta,7),(c,50),(delta_d,n_d),(delta_s,n_s),(s,s_1)]
        First_num = apply_num(df_1,para_)
        First_num.loc[len(First_num)] = [s_1]
        
    elif "SD" in file_:
        n_d = 0
        n_s = 0.4
        para_ = [(alpha,1200),(beta,7),(c,50),(delta_d,n_d),(delta_s,n_s),(s,s_)]
        price_ = float(df_1[file_]["p"].subs(para_))
        s_1 = price_*spot_premium
        para_ = [(alpha,1200),(beta,7),(c,50),(delta_d,n_d),(delta_s,n_s),(s,s_1)]
        print(hessian_(df_1,para_))
        First_num = apply_num(df_1,para_)
        First_num.loc[len(First_num)] = [s_1]
    elif "BD" in file_:
        #print(file_)
        n_d = 0.4
        n_s = 0.3
        para_ = [(alpha,1200),(beta,7),(c,50),(delta_d,n_d),(delta_s,n_s),(s,s_)]
        price_ = float(df_1[file_]["p"].subs(para_))
        s_1 = price_*scrap_cost
        para_ = [(alpha,1200),(beta,7),(c,50),(delta_d,n_d),(delta_s,n_s),(s,s_1)]
        First_num = apply_num(df_1,para_)
        First_num.loc[len(First_num)] = [s_1]
    elif "BS" in file_:
        #print(file_)
        n_d = 0.3
        n_s = 0.4
        para_ = [(alpha,1200),(beta,7),(c,50),(delta_d,n_d),(delta_s,n_s),(s,s_)]
        price_ = float(df_1[file_]["p"].subs(para_))
        s_1 = price_*spot_premium
        para_ = [(alpha,1200),(beta,7),(c,50),(delta_d,n_d),(delta_s,n_s),(s,s_1)]
        
        
        First_num = apply_num(df_1,para_)
        First_num.loc[len(First_num)] = [s_1]
    else:

        n_d = 0
        n_s = 0    
        para_ = [(alpha,1200),(beta,7),(c,50),(delta_d,n_d),(delta_s,n_s),(s,s_)] 
        
        First_num = apply_num(df_1,para_)
    df_all.append(First_num)

None
None
None

In [411]:
df_con = pd.DataFrame()
for df_2 in df_all:
    df_con = pd.concat([df_con,df_2],axis=1)

In [412]:
df_con

,ND_FB,ND_QDC,ND_QDW,ND_WH,UN_BD_QDC,UN_BD_QDW,UN_BD_WH,UN_BS_QDC,UN_BS_QDW,UN_BS_WH,UN_DD_QDC,UN_DD_QDW,UN_DD_WH,UN_SD_QDC,UN_SD_QDW,UN_SD_WH
p,110.714,110.714,128.497,141.071,110.714,1.284970e+02,141.071000,110.714,1.284970e+02,141.071000,110.714,1.284970e+02,141.071000,110.714,1.284970e+02,141.071000
q,425.000,425,300.52,212.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
profit_all,25803.571,25803.6,23590,19352.7,7710.71,8.017464e+03,6951.786000,15011.6,1.376783e+04,11311.830000,-15603.6,-1.039210e+04,-7027.679000,13600,1.260934e+04,10412.500000
h1_all_p,-14.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
w,NaN,171.429,100.297,110.714,171.429,1.002970e+02,110.714000,171.429,1.002970e+02,110.714000,171.429,1.002970e+02,110.714000,171.429,1.002970e+02,110.714000
epsilon,NaN,0.143,0.025,NaN,0.143,2.500000e-02,NaN,0.143,2.500000e-02,NaN,0.143,2.500000e-02,NaN,0.143,2.500000e-02,NaN
p_w,NaN,171.429,(16800*epsilon - 850*sqrt(2) - 700)/(14*(7*eps...,w/2 + 600/7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
T,NaN,110.714,92.931,110.714,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
profit_r,NaN,0,10688.2,6450.89,-10351.8,-1.013786e+03,-2079.464000,-470.536,6.026754e+03,3570.759000,-41407.1,-2.329389e+04,-19929.464000,-1882.14,4.868274e+03,2671.429000
profit_s,NaN,25803.6,12901.8,12901.8,18062.5,9.031250e+03,9031.250000,15482.1,7.741071e+03,7741.071000,25803.6,1.290179e+04,12901.786000,15482.1,7.741071e+03,7741.071000
h1_r_p,NaN,0,-11.598,-14,0,-1.159800e+01,-14.000000,0,-1.159800e+01,-14.000000,0,-1.159800e+01,-14.000000,0,-1.159800e+01,-14.000000
h1_s_w,NaN,zoo,-9.325,-7,zoo,-9.325000e+00,-7.000000,zoo,-9.325000e+00,-7.000000,zoo,-9.325000e+00,-7.000000,zoo,-9.325000e+00,-7.000000
h1_s_e,NaN,zoo,-1.84233e+06,NaN,zoo,-1.842329e+06,NaN,zoo,-1.842329e+06,NaN,zoo,-1.842329e+06,NaN,zoo,-1.842329e+06,NaN
h2_s,NaN,zoo,-1.61204e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
q_nd,NaN,NaN,NaN,NaN,425,3.005200e+02,212.500000,425,3.005200e+02,212.500000,425,3.005200e+02,212.500000,425,3.005200e+02,212.500000
qd,NaN,NaN,NaN,NaN,255,1.803120e+02,127.500000,297.5,2.103640e+02,148.750000,255,1.803120e+02,127.500000,425,3.005200e+02,212.500000
qs,NaN,NaN,NaN,NaN,297.5,2.103640e+02,148.750000,255,1.803120e+02,127.500000,425,3.005200e+02,212.500000,255,1.803120e+02,127.500000
t_nd,NaN,NaN,NaN,NaN,110.714,9.293100e+01,110.714000,110.714,9.293100e+01,110.714000,110.714,9.293100e+01,110.714000,110.714,9.293100e+01,110.714000
13,NaN,NaN,NaN,NaN,132.857,1.541965e+02,NaN,121.786,1.413468e+02,NaN,132.857,1.541965e+02,NaN,121.786,1.413468e+02,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,169.285714,NaN,NaN,155.178571,NaN,NaN,169.285714,NaN,NaN,155.178571

In [413]:
df_con.to_excel(r"C:\Users\Samsung\jupyter\Graduation_thesis\result\graph_\un_scrap_3.xlsx")

In [414]:
s_ = 100
spot_premium = 1.1
scrap_cost = -0.5

df_all = []
for file_ in file_name_2:
    df_1 =  globals ()["{}".format(file_)].rename(columns={1:file_})
    if "DD" in file_:
        n_d = 0.4
        n_s = 0
        para_ = [(alpha,1200),(beta,7),(c,50),(delta_d,n_d),(delta_s,n_s),(s,s_)]
        price_ = float(df_1[file_]["p"].subs(para_))
        s_1 = price_*scrap_cost
        para_ = [(alpha,1200),(beta,7),(c,50),(delta_d,n_d),(delta_s,n_s),(s,s_1)]
        First_num = apply_num(df_1,para_)
        First_num.loc[len(First_num)] = [s_1]
        
    elif "SD" in file_:
        n_d = 0
        n_s = 0.4
        para_ = [(alpha,1200),(beta,7),(c,50),(delta_d,n_d),(delta_s,n_s),(s,s_)]
        price_ = float(df_1[file_]["p"].subs(para_))
        s_1 = price_*spot_premium
        para_ = [(alpha,1200),(beta,7),(c,50),(delta_d,n_d),(delta_s,n_s),(s,s_1)]
        print(hessian_(df_1,para_))
        First_num = apply_num(df_1,para_)
        First_num.loc[len(First_num)] = [s_1]
    elif "BD" in file_:
        #print(file_)
        n_d = 0.4
        n_s = 0.3
        para_ = [(alpha,1200),(beta,7),(c,50),(delta_d,n_d),(delta_s,n_s),(s,s_)]
        price_ = float(df_1[file_]["p"].subs(para_))
        s_1 = price_*scrap_cost
        para_ = [(alpha,1200),(beta,7),(c,50),(delta_d,n_d),(delta_s,n_s),(s,s_1)]
        First_num = apply_num(df_1,para_)
        First_num.loc[len(First_num)] = [s_1]
    elif "BS" in file_:
        #print(file_)
        n_d = 0.3
        n_s = 0.4
        para_ = [(alpha,1200),(beta,7),(c,50),(delta_d,n_d),(delta_s,n_s),(s,s_)]
        price_ = float(df_1[file_]["p"].subs(para_))
        s_1 = price_*spot_premium
        para_ = [(alpha,1200),(beta,7),(c,50),(delta_d,n_d),(delta_s,n_s),(s,s_1)]
        
        
        First_num = apply_num(df_1,para_)
        First_num.loc[len(First_num)] = [s_1]
    else:

        n_d = 0
        n_s = 0    
        para_ = [(alpha,1200),(beta,7),(c,50),(delta_d,n_d),(delta_s,n_s),(s,s_)] 
        
        First_num = apply_num(df_1,para_)
    df_all.append(First_num)

None
None
None

In [415]:
df_con = pd.DataFrame()
for df_2 in df_all:
    df_con = pd.concat([df_con,df_2],axis=1)

In [416]:
df_con

,ND_FB,ND_QDC,ND_QDW,ND_WH,UN_BD_QDC,UN_BD_QDW,UN_BD_WH,UN_BS_QDC,UN_BS_QDW,UN_BS_WH,UN_DD_QDC,UN_DD_QDW,UN_DD_WH,UN_SD_QDC,UN_SD_QDW,UN_SD_WH
p,110.714,110.714,128.497,141.071,110.714,1.284970e+02,141.071000,110.714,1.284970e+02,141.071000,110.714,1.284970e+02,141.071000,110.714,1.284970e+02,141.071000
q,425.000,425,300.52,212.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
profit_all,25803.571,25803.6,23590,19352.7,15709.8,1.458218e+04,12047.991000,15011.6,1.376783e+04,11311.830000,16392.9,1.586678e+04,13357.143000,13600,1.260934e+04,10412.500000
h1_all_p,-14.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
w,NaN,171.429,100.297,110.714,171.429,1.002970e+02,110.714000,171.429,1.002970e+02,110.714000,171.429,1.002970e+02,110.714000,171.429,1.002970e+02,110.714000
epsilon,NaN,0.143,0.025,NaN,0.143,2.500000e-02,NaN,0.143,2.500000e-02,NaN,0.143,2.500000e-02,NaN,0.143,2.500000e-02,NaN
p_w,NaN,171.429,(16800*epsilon - 850*sqrt(2) - 700)/(14*(7*eps...,w/2 + 600/7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
T,NaN,110.714,92.931,110.714,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
profit_r,NaN,0,10688.2,6450.89,-2352.68,5.550933e+03,3016.741000,-470.536,6.026754e+03,3570.759000,-9410.71,2.964990e+03,455.357000,-1882.14,4.868274e+03,2671.429000
profit_s,NaN,25803.6,12901.8,12901.8,18062.5,9.031250e+03,9031.250000,15482.1,7.741071e+03,7741.071000,25803.6,1.290179e+04,12901.786000,15482.1,7.741071e+03,7741.071000
h1_r_p,NaN,0,-11.598,-14,0,-1.159800e+01,-14.000000,0,-1.159800e+01,-14.000000,0,-1.159800e+01,-14.000000,0,-1.159800e+01,-14.000000
h1_s_w,NaN,zoo,-9.325,-7,zoo,-9.325000e+00,-7.000000,zoo,-9.325000e+00,-7.000000,zoo,-9.325000e+00,-7.000000,zoo,-9.325000e+00,-7.000000
h1_s_e,NaN,zoo,-1.84233e+06,NaN,zoo,-1.842329e+06,NaN,zoo,-1.842329e+06,NaN,zoo,-1.842329e+06,NaN,zoo,-1.842329e+06,NaN
h2_s,NaN,zoo,-1.61204e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
q_nd,NaN,NaN,NaN,NaN,425,3.005200e+02,212.500000,425,3.005200e+02,212.500000,425,3.005200e+02,212.500000,425,3.005200e+02,212.500000
qd,NaN,NaN,NaN,NaN,255,1.803120e+02,127.500000,297.5,2.103640e+02,148.750000,255,1.803120e+02,127.500000,425,3.005200e+02,212.500000
qs,NaN,NaN,NaN,NaN,297.5,2.103640e+02,148.750000,255,1.803120e+02,127.500000,425,3.005200e+02,212.500000,255,1.803120e+02,127.500000
t_nd,NaN,NaN,NaN,NaN,110.714,9.293100e+01,110.714000,110.714,9.293100e+01,110.714000,110.714,9.293100e+01,110.714000,110.714,9.293100e+01,110.714000
13,NaN,NaN,NaN,NaN,-55.3571,-6.424854e+01,NaN,121.786,1.413468e+02,NaN,-55.3571,-6.424854e+01,NaN,121.786,1.413468e+02,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,-70.535714,NaN,NaN,155.178571,NaN,NaN,-70.535714,NaN,NaN,155.178571

In [418]:
df_con.to_excel(r"C:\Users\Samsung\jupyter\Graduation_thesis\result\graph_\un_scrap_3.xlsx")

In [419]:
s_ = 100
spot_premium = 1.1
scrap_cost = -0.9

df_all = []
for file_ in file_name_2:
    df_1 =  globals ()["{}".format(file_)].rename(columns={1:file_})
    if "DD" in file_:
        n_d = 0.4
        n_s = 0
        para_ = [(alpha,1200),(beta,7),(c,50),(delta_d,n_d),(delta_s,n_s),(s,s_)]
        price_ = float(df_1[file_]["p"].subs(para_))
        s_1 = price_*scrap_cost
        para_ = [(alpha,1200),(beta,7),(c,50),(delta_d,n_d),(delta_s,n_s),(s,s_1)]
        First_num = apply_num(df_1,para_)
        First_num.loc[len(First_num)] = [s_1]
        
    elif "SD" in file_:
        n_d = 0
        n_s = 0.4
        para_ = [(alpha,1200),(beta,7),(c,50),(delta_d,n_d),(delta_s,n_s),(s,s_)]
        price_ = float(df_1[file_]["p"].subs(para_))
        s_1 = price_*spot_premium
        para_ = [(alpha,1200),(beta,7),(c,50),(delta_d,n_d),(delta_s,n_s),(s,s_1)]
        print(hessian_(df_1,para_))
        First_num = apply_num(df_1,para_)
        First_num.loc[len(First_num)] = [s_1]
    elif "BD" in file_:
        #print(file_)
        n_d = 0.4
        n_s = 0.3
        para_ = [(alpha,1200),(beta,7),(c,50),(delta_d,n_d),(delta_s,n_s),(s,s_)]
        price_ = float(df_1[file_]["p"].subs(para_))
        s_1 = price_*scrap_cost
        para_ = [(alpha,1200),(beta,7),(c,50),(delta_d,n_d),(delta_s,n_s),(s,s_1)]
        First_num = apply_num(df_1,para_)
        First_num.loc[len(First_num)] = [s_1]
    elif "BS" in file_:
        #print(file_)
        n_d = 0.3
        n_s = 0.4
        para_ = [(alpha,1200),(beta,7),(c,50),(delta_d,n_d),(delta_s,n_s),(s,s_)]
        price_ = float(df_1[file_]["p"].subs(para_))
        s_1 = price_*spot_premium
        para_ = [(alpha,1200),(beta,7),(c,50),(delta_d,n_d),(delta_s,n_s),(s,s_1)]
        
        
        First_num = apply_num(df_1,para_)
        First_num.loc[len(First_num)] = [s_1]
    else:

        n_d = 0
        n_s = 0    
        para_ = [(alpha,1200),(beta,7),(c,50),(delta_d,n_d),(delta_s,n_s),(s,s_)] 
        
        First_num = apply_num(df_1,para_)
    df_all.append(First_num)

None
None
None

In [420]:
df_con = pd.DataFrame()
for df_2 in df_all:
    df_con = pd.concat([df_con,df_2],axis=1)

In [421]:
df_con

,ND_FB,ND_QDC,ND_QDW,ND_WH,UN_BD_QDC,UN_BD_QDW,UN_BD_WH,UN_BS_QDC,UN_BS_QDW,UN_BS_WH,UN_DD_QDC,UN_DD_QDW,UN_DD_WH,UN_SD_QDC,UN_SD_QDW,UN_SD_WH
p,110.714,110.714,128.497,141.071,110.714,1.284970e+02,141.071000,110.714,1.284970e+02,141.071000,110.714,1.284970e+02,141.071000,110.714,1.284970e+02,141.071000
q,425.000,425,300.52,212.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
profit_all,25803.571,25803.6,23590,19352.7,17592,1.612682e+04,13247.098000,15011.6,1.376783e+04,11311.830000,23921.4,2.204533e+04,18153.571000,13600,1.260934e+04,10412.500000
h1_all_p,-14.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
w,NaN,171.429,100.297,110.714,171.429,1.002970e+02,110.714000,171.429,1.002970e+02,110.714000,171.429,1.002970e+02,110.714000,171.429,1.002970e+02,110.714000
epsilon,NaN,0.143,0.025,NaN,0.143,2.500000e-02,NaN,0.143,2.500000e-02,NaN,0.143,2.500000e-02,NaN,0.143,2.500000e-02,NaN
p_w,NaN,171.429,(16800*epsilon - 850*sqrt(2) - 700)/(14*(7*eps...,w/2 + 600/7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
T,NaN,110.714,92.931,110.714,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
profit_r,NaN,0,10688.2,6450.89,-470.536,7.095573e+03,4215.848000,-470.536,6.026754e+03,3570.759000,-1882.14,9.143549e+03,5251.786000,-1882.14,4.868274e+03,2671.429000
profit_s,NaN,25803.6,12901.8,12901.8,18062.5,9.031250e+03,9031.250000,15482.1,7.741071e+03,7741.071000,25803.6,1.290179e+04,12901.786000,15482.1,7.741071e+03,7741.071000
h1_r_p,NaN,0,-11.598,-14,0,-1.159800e+01,-14.000000,0,-1.159800e+01,-14.000000,0,-1.159800e+01,-14.000000,0,-1.159800e+01,-14.000000
h1_s_w,NaN,zoo,-9.325,-7,zoo,-9.325000e+00,-7.000000,zoo,-9.325000e+00,-7.000000,zoo,-9.325000e+00,-7.000000,zoo,-9.325000e+00,-7.000000
h1_s_e,NaN,zoo,-1.84233e+06,NaN,zoo,-1.842329e+06,NaN,zoo,-1.842329e+06,NaN,zoo,-1.842329e+06,NaN,zoo,-1.842329e+06,NaN
h2_s,NaN,zoo,-1.61204e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
q_nd,NaN,NaN,NaN,NaN,425,3.005200e+02,212.500000,425,3.005200e+02,212.500000,425,3.005200e+02,212.500000,425,3.005200e+02,212.500000
qd,NaN,NaN,NaN,NaN,255,1.803120e+02,127.500000,297.5,2.103640e+02,148.750000,255,1.803120e+02,127.500000,425,3.005200e+02,212.500000
qs,NaN,NaN,NaN,NaN,297.5,2.103640e+02,148.750000,255,1.803120e+02,127.500000,425,3.005200e+02,212.500000,255,1.803120e+02,127.500000
t_nd,NaN,NaN,NaN,NaN,110.714,9.293100e+01,110.714000,110.714,9.293100e+01,110.714000,110.714,9.293100e+01,110.714000,110.714,9.293100e+01,110.714000
13,NaN,NaN,NaN,NaN,-99.6429,-1.156474e+02,NaN,121.786,1.413468e+02,NaN,-99.6429,-1.156474e+02,NaN,121.786,1.413468e+02,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,-126.964286,NaN,NaN,155.178571,NaN,NaN,-126.964286,NaN,NaN,155.178571

In [422]:
df_con.to_excel(r"C:\Users\Samsung\jupyter\Graduation_thesis\result\graph_\un_scrap_3.xlsx")